/* Begin CSS Reset code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* End CSS Reset code */


body {
  background: url(background2.JPG) no-repeat 50% 50% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 70pt;
    color: papayawhip;
   position:absolute;
    width:780px;
    height:650px;
    left:50%;
    top:50%;
    margin-left:-390px;
    margin-top:-225px;
    
        
}

h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 70pt;
    color: papayawhip;
   position:absolute;
    width:780px;
    height:650px;
    left:50%;
    top:50%;
    margin-left:-90px;
    margin-top:-155px;
    
}
h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 70pt;
    color: papayawhip;
   position:fixed;
    width:780px;
    height:650px;
    left:850px;
    top:540px;
    margin-left:-90px;
    margin-top:-155px;
    
    
}

#me {
  float: right;
  width: 40%;
    position:relative;
		top: 105px;
		left: -750px;
}


#table {
  float: right;
  width: 40%;
position: fixed;
		top: 120px;
		left: 760px;
}

}
div.img {
    margin: 4px;
    position: inherit;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
    
    
}

div.gallery {
margin:10px auto; 
    margin-left:40px;

}
.why {
  float: right;
  width: 85%;
    position: inherit;
		top: 20px;
		right: 0px;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}